<!DOCTYPE html>
<html lang="en"> 
<head>

    <!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>zMovie</title>
	<meta name="description" content="Free Responsive Html5 Css3 Templates | zerotheme.com">
	<meta name="author" content="www.zerotheme.com">
	
    <!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- CSS
  ================================================== -->
  	<link rel="stylesheet" href="/css/zerogrid.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
	
	
    
</head>
<body>
<div class="wrap-body">

<!--////////////////////////////////////Header-->
<header>
    <div class="top-bar">
      <div class="wrap-top zerogrid">
        <div class="row">
          <div class="col-1-2">
            <div class="wrap-col">
              <ul>
                <li class="mail"><p>StanleyOmeje1@Gmail.com</p></li>
                <li class="phone"><p>80 673024 18</p></li>
              </ul>
            </div>
          </div>
          <!--  -->
          <div class="col-1-2">
            <div class="wrap-col f-right">
              <ul>
                <li><select>
                  <option value="en" selected>English</option>
                  <option value="fe">France</option>
                  <option value="ge">Germany</option>
                </select></li>
                <li><p>Language</p></li>
              </ul>
            </div>
          </div>
          <!--  -->
        </div>
      </div>
    </div>
    <!-- Movie Logo -->
    <div class="wrap-header zerogrid">
        <!-- image logo row -->
      <div class="row">
        <!-- image column -->
        <div class="col-1-2">
          <div class="wrap-col">
            <div class="logo"><a href="#"><img src="/images/logo.png"/></a></div>	
          </div>
        </div>
        <!-- search column -->
        
      </div>
      <!-- menue row -->
      <div class="row">
        <div id="menu">
          <nav>
            <div class="wrap-nav">
               <ul>
                <li class="active"><a href="/movies">Home</a></li>
                 <li><a href="/movies/new">Creat Movie</a></li>
                 <li><a href="/login">Login</a></li>
                 <li><a href="/register">Register</a></li>
               </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </header>


<!--////////////////////////////////////Container-->
<section id="container">
	<div class="wrap-container zerogrid">
        <div class="widget wid-new-updates container">
            <h3 class="wid-header">Edit Movie</h3>
            <form method="post" action="/movies/<%=singleRecord.id%>?_method=PATCH" >
                <div class="form-group">
                    <label for="formGroupExampleInput">Title</label>
                    <input name="title" type="text" class="form-control" id="formGroupExampleInput"  value="<%=singleRecord.title%>">
                  </div>
                  <div class="form-group">
                    <label for="formGroupExampleInput2" >Description</label>
                    <input name="description" type="text" class="form-control" id="formGroupExampleInput2" value="<%=singleRecord.description%>">
                  </div>
                  <div class="form-group">
                    <label for="formGroupExampleInput2">ImageUrl</label>
                    <input name="image" type="text" class="form-control" id="formGroupExampleInput2" value="<%=singleRecord.image%>">
                  </div>
                  <div class="form-group">
                    <label for="formGroupExampleInput2">Price</label>
                    <input name="price" type="text" class="form-control" id="formGroupExampleInput2" value="<%=singleRecord.price%>">
                  </div>
                  <button type="submit" class="btn btn-primary">Create Movie</button>
            </form>
            
         </div>

	</div>
</section>

<!--////////////////////////////////////Footer-->
<footer>
	<div class="zerogrid">
		<div class="wrap-footer">
			<div class="row">
				<div class="col-1-4">
					<div class="wrap-col">
						<div class="widget wid-about">
							<div class="wid-header">
								<h5>Welcome</h5>
							</div>
							<div class="logo"><a href="#"><img src="images/logo.png"/></a></div>
							<p>Nam libero tempore, cum soluta nobis est eligendi optio cumque quod maxime placeat 
								facere possimus nihil impedit quo minus id quod maxime placeat facere possimus. </p>
						</div>
					</div>
				</div>
				<div class="col-1-4">
					<div class="wrap-col">
						<div class="widget wid-meta">
							<div class="wid-header">
								<h5>Links List</h5>
							</div>
							<div class="widget-content">
								<div class="row">
									<ul>
										<li><a href="#">> Lorem ipsum dolor sit </a></li>
										<li><a href="#">> Nullam venenatis lacus a </a></li>
										<li><a href="#">> Morbi ut sapien nec nisl</a></li>
										<li><a href="#">> Integer a enim ac ex.</a></li>
										<li><a href="#">> Sed in nunc non eleifend  </a></li>
										<li><a href="#">> Integer a enim ac ex.</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-1-4">
					<div class="wrap-col">
						<div class="widget wid-report">
							<div class="wid-header">
								<h5>Report Link</h5>
							</div>
							<div class="wid-content">
								<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy 
								eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. 
								At vero eos et accusam et justo duo dolores et ea rebum. Consetetur sadipscing elitr,  
								sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-1-4">
					<div class="wrap-col">
						<div class="widget wid-meta">
							<div class="wid-header">
								<h5>Links List</h5>
							</div>
							<div class="widget-content">
								<div class="row">
									<ul>
										<li><a href="#">> Lorem ipsum dolor sit </a></li>
										<li><a href="#">> Nullam venenatis lacus a </a></li>
										<li><a href="#">> Morbi ut sapien nec nisl</a></li>
										<li><a href="#">> Integer a enim ac ex.</a></li>
										<li><a href="#">> Sed in nunc non eleifend  </a></li>
										<li><a href="#">> Integer a enim ac ex.</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bottom-footer">
		<div class="wrap-bottom ">
			<div class="copyright">
				<p>??2015 - Designed by <a href="https://www.zerotheme.com" title="free website templates">ZEROTHEME</a></p>
			</div>
		</div>
	</div>
</footer>


</div>

</body></html>
