
    <%-include('partials/head')%>
        <!-- menue row -->
        <div class="row">
          <div id="menu">
            <nav>
              <div class="wrap-nav">
                 <ul>
                 <li class="active"><a href="/movies">Home</a></li>
                
               
                 <li><a href="/login">Login</a></li>
                 <li><a href="/register">Register</a></li>
                 </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </header>
    
    
    <!--////////////////////////////////////Container-->
    <section id="container">
      <div class="wrap-container zerogrid">
        <div id="main-content" class="col-2-3">
          <div class="wrap-content">
            <div class="movie">
              <div class="row type">
                <div class="title">
                  <center><h2>MOVIE</h2></center>
                </div>
                <!-- search movies -->
                <ul>
                  <li>
                    <select>
                      <option value="audi" selected>Type</option>
                      <option value="volvo">Text Text</option>
                      <option value="saab">Text Text</option>
                      <option value="volvo">Text Text</option>
                      <option value="saab">Text Text</option>
                      <option value="volvo">Text Text</option>
                      <option value="saab">Text Text</option>
                      <option value="volvo">Text Text</option>
                      <option value="saab">Text Text</option>
                      <option value="volvo">Text Text</option>
                      <option value="saab">Text Text</option>
                    </select>
                  </li>
                  <li><a class="button " href="#">Search</a></li>
                </ul>
              </div>
              <!-- image movies -->
              
                <!-- first image -->
            <div class="row">
              
              
              <%for(let movie of record){ %>
                <div class="col-1-4">
                  
                  <div class="wrap-col">
                    <div class="post">
                      <div class="view effect">  
                       <img class="thumb" src='<%= movie.image %>'  />
                        <div class="mask">  
                        <a href='/movies/<%=movie.id%>' class="info" title="Full Image"><img src="/images/play_button_64.png" /></a>  
                      </div>  
                        
                    </div>
                      <!-- <div class="clear"></div> -->
                      <a href='/movies/<%=movie.id%>'><h3><%= movie.title %></h3></a>
                      <span><%= movie.description %></span> 
                      

                  </div>
                </div>
                  
                </div>
                <%}%> 
               
             
            </div>
    
                
              
  
              <!-- End of first image -->
              <!-- paginations -->
              <center><div class="pagination">
                <a href="#" class="page gradient">first</a><a
                href="#" class="page gradient">2</a><a href="#"
                class="page gradient">3</a><span class=
                "page active">4</span><a href="#" class=
                "page gradient">5</a><a href="#" class=
                "page gradient">6</a><a href="#" class=
                "page gradient">last</a>
              </div></center>
            </div>
    
            
          </div>
        </div>
        <!-- Side bar -->
        <div id="sidebar" class="col-1-3">
          <div class="wrap-sidebar">
            <!---- Start Widget ---->
            <div class="widget wid-new-updates">
              <div class="wid-header">
                <h5>Hot Updates !</h5>
              </div>
              <div class="wid-content">
                <ul>
                <li><a href="#">Mad Max: Fury Road</a><span><img src="/images/hot.png" /></span></li>
                <li><a href="#">The Age of Adaline</a><span><img src="/images/hot.png" /></span></li>
                <li><a href="#">Pound of Flesh</a><span><img src="/images/hot.png" /></span></li>
                <li><a href="#">Bloodbath Island</a><span><img src="/images/hot.png" /></span></li>
                <li><a href="#">Pound of Flesh</a><span><img src="/images/hot.png" /></span></li>
                </ul>
              </div>
            </div>
            
            <div class="widget wid-post">
              <div class="wid-header">
                <h5>Today's movies</h5>
              </div>
              <div class="wid-content">
                <div class="post">
                  <a href="#"><img src="images/1.jpg"/></a>
                  <div class="wrapper">
                    <a href="#"><h6>A Blue Morning</h6></a>
                    <p>March 1, 2015</p>
                    <a href="#"><img src="images/star.png" /></a>
                  </div>
                </div>
                <div class="post">
                  <a href="#"><img src="images/2.jpg"/></a>
                  <div class="wrapper">
                   <a href="#"><h6>A Blue Morning</h6></a>
                    <p>March 1, 2015</p>
                    <a href="#"><img src="images/star.png" /></a>
                  </div>
                </div>
                <div class="post">
                  <a href="#"><img src="images/3.jpg"/></a>
                  <div class="wrapper">
                   <a href="#"><h6>A Blue Morning</h6></a>
                    <p>March 1, 2015</p>
                    <a href="#"><img src="images/star.png" /></a>
                  </div>
                </div>
              </div>
            </div>
            
        </div>
      </div>
    </section>
    
    <!--////////////////////////////////////Footer-->
   <%-include('partials/footer')%>

